extends layout

block content

	.container
		.jumbotron
			h1 Sports Blog
			p
				| A simple blog which lets you add articles and sports categories, add and view comments. To manage the blog please go to 'Manage' page.
		h3 Recent Articles
	.container
		.row
			.col-md-12
				each article in articles
					a(href='/articles/show/'+article._id)
						h2.post-title #{article.title}
					h4.post-subtitle #{article.subtitle}
					p.post-meta
						| Posted by #{article.author}
					hr