extends layout

block content
	.container
		h1 #{title}
		table(class='table table-striped')
				tr
					th Title
					th Description
					th
				each category in categories
					tr
						td 
							a(href='#') #{category.title}

						td #{category.description}
						td
							a(class= "btn btn-primary" href='/manage/categories/edit/'+category._id) Edit
		a(class = "btn btn-default", href="/manage/categories/add") Add New Category
